@model IEnumerable<_03_Dominio.entCliente>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="tablaCliente">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Nombre</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
            @{
                var indice = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" name="rdbtnPersona" class="rdbtnPersona" />
                                <span></span>
                            </label>
                        </td>
                        <td>
                            @{var i = indice + 1; indice = i;}
                            @i
                            <input type="hidden" value="@Html.DisplayFor(modelItem => item.ClienteID)" class="PersonaID" />
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Persona.Nombre) @Html.DisplayFor(modelItem => item.Persona.Apellidos)</td>
                        <td>@Html.DisplayFor(modelItem => item.Persona.Direccion)</td>
                    </tr>
                                }
            }
        </tbody>
    </table>
</div>
