@model IEnumerable<_03_Dominio.entProducto>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="tablaProducto">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            @{
                var indice = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" name="rdbtnProducto" class="rdbtnProducto" />
                                <span></span>
                            </label>
                        </td>
                        <td>
                            @{var i = indice + 1; indice = i;}
                            @i
                            <input type="hidden" value="@Html.DisplayFor(modelItem => item.ProductoID)" class="ProductoID" />
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.NombreProducto)</td>
                        <td>@Html.DisplayFor(modelItem => item.PrecioProducto)</td>
                        <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                    </tr>
                                }
            }
        </tbody>
    </table>
</div>

