@using _03_Dominio

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/MasterPages/MasterIntranet.cshtml";
}

<h2>Platos</h2>
<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <input type="text" id="Nombre" class="form-control" placeholder="Buscar cliente">
        </div>
    </div>
</div>
<br />

<div id="detallexd">

</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            muestra();
        });

        $('#Nombre').keyup(function () {
            muestra();
        });

        var muestra = function () {
            $('#detallexd').load('@Url.Action("DetalleLista")', { Nombre: $('#Nombre').val() })
        }
    </script>
}

