@using _03_Dominio

@{
    ViewBag.Title = "Main";
    Layout = "~/Views/MasterPages/MasterExtranet.cshtml";
}

<div class="container">
    <iframe height="600" width="100%" src="@Url.Action("PedidosOnline","Pedido")"></iframe>
</div>
