
@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/MasterPages/MasterExtranet.cshtml";
}
<div class="container">
    <iframe height="700" width="100%" src="@Url.Action("DetalleNuevo","Pedido")"></iframe>
</div>


