
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/MasterPages/MasterExtranet.cshtml";
}

<section class="content ctn__1">
    <div class="ic">More Website Templates  TemplateMonster.com - July 30, 2014!</div>
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h2>Encuentranos</h2>
                <div class="map">
                    <div class="row">
                        <div class="grid_9">
                            <figure class="">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d987.4650220787347!2d-79.02872547086479!3d-8.115725071961025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d8283ef9b9d%3A0x3cf4dbd6d9431110!2sRestaurant+La+Valentina!5e0!3m2!1ses!2spe!4v1500474031388" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </figure>
                        </div>
                        <div class="grid_3">
                            <div class="map_block">
                                <div class="map_title">Dirección:</div>
                                Jirón Ayacucho 255,<br>Trujillo 13001.
                            </div>
                            <div class="map_block">
                                <div class="map_title">Telefonos:</div>
                                229574 <br>
                            </div>
                            <div class="map_block">
                                <div class="map_title">Email:</div>
                                <a href="#">Lavalentina_store@hotmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

