
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/MasterPages/MasterExtranet.cshtml";
}

<section class="content">
    <div class="ic">More Website Templates  TemplateMonster.com - July 30, 2014!</div>
    <div class="container">
        <div class="row">
            <div class="grid_4">
                <div class="banner">
                    <div class="gall_block">
                        <img src="~/Bootstrap/Extranet/images/pato_guisado.jpg" height="305" width="370" alt="">
                        <div class="bann_capt ">
                            <div class="maxheight">
                                <img src="~/Bootstrap/Extranet/images/icon1.png" alt="">
                                <div class="bann_title">Comida Criolla</div>
                                <a href="#">más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="banner">
                    <div class="gall_block">
                        <div class="bann_capt  bn__1">
                            <div class="maxheight">
                                <img src="~/Bootstrap/Extranet/images/icon2.png" alt="">
                                <div class="bann_title">Menú para niños</div>
                                <a href="#">más</a>
                            </div>
                        </div>
                        <img src="~/Bootstrap/Extranet/images/page1_img2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="banner ">
                    <div class="gall_block">
                        <img src="~/Bootstrap/Extranet/images/page1_img3.jpg" alt="">
                        <div class="bann_capt  bn__2">
                            <div class="maxheight">
                                <img src="~/Bootstrap/Extranet/images/icon3.png" alt="">
                                <div class="bann_title">Variedad de bebidas</div>
                                <a href="#">más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear sep__1"></div>
            <div class="grid_12">
                <div class="box">
                    <div class="row">
                        <div class="grid_5 preffix_1">
                            <h2>Bienvenido</h2>
                            Los visitantes son acogidos por nuestro personal formado profesionalmente en calidad de atención al cliente, en un local cálido, con varios ambientes de estilo único, que permiten gran versatilidad, y facilitan la atención simultánea de reservas privadas, corporativas, de empresas, embajadas o instituciones <br>
                            <a href="#" class="btn">más</a>
                        </div>
                        <div class="grid_5">
                            <h2>Siente el Sabor de la Vida</h2>
                            Queremos conquistar el mercado internacional, restaurando al mundo entero con la calidad de nuestra gastronomía, nuestro excelente servicio y ambiente único: un verdadero placer para los sentidos. <br>
                            <a href="#" class="btn">más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_12">
                <h2>Platos recomendados</h2>
            </div>
            <div class="gallery">
                <div class="grid_4"><a href="~/Bootstrap/Extranet/images/big1.jpg" class="gall_item"><img src="~/Bootstrap/Extranet/images/page1_img4.jpg" alt=""></a><a href="#" class="link1">+</a><div class="clear"></div></div>
                <div class="grid_4"><a href="~/Bootstrap/Extranet/images/big2.jpg" class="gall_item"><img src="~/Bootstrap/Extranet/images/page1_img5.jpg" alt=""></a><a href="#" class="link1">+</a><div class="clear"></div></div>
                <div class="grid_4"><a href="~/Bootstrap/Extranet/images/big3.jpg" class="gall_item"><img src="~/Bootstrap/Extranet/images/page1_img6.jpg" alt=""></a><a href="#" class="link1">+</a><div class="clear"></div></div>
            </div>
            <div class="grid_4">
                <h2>Recomendaciones</h2>
                <blockquote class="bq1">
                    <img src="~/Bootstrap/Extranet/images/chibolo.jpg" height="128" width="128" alt="" @*style="border-radius : 50%"*@ class="img_inner fleft noresize">
                    <div class="extra_wrapper">
                        <div class="bq_title color1">Chibolo</div>
                        La atención y la comida estuvieron bien, estaba medio vacío, eso hizo todo más agradable. Comí un Pulpo brasa y estuvo bastante rico, a pesar de verse pequeño termine bastante satisfecho.
                        <a href="#"><span class="fa fa-chevron-right"></span>más recomendaciones</a>
                    </div>
                </blockquote>
            </div>
            <div class="grid_4">
                <h2>Noticias</h2>
                <div class="block2">
                    <time datetime="2014-01-01">2016<br>JUN</time>
                    <div class="extra_wrapper">
                        <div class="text1"><a href="#">Premio </a></div>Premio "World Leader Business Enterprise" otorgado por la World Confederation of Businesses.
                    </div>
                </div>
                <div class="block2">
                    <time datetime="2014-01-01">2017<br>ENE</time>
                    <div class="extra_wrapper">
                        <div class="text1"><a href="#">Reconocimiento </a></div>Reconocimiento a la Calidad Empresarial otorgado por Latin America Quality Institute, recibiendo el título de "Premio Quality Peru"
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <h2>Horario de atención</h2>
                <ul class="shed">
                    <li><span>Desayuno:</span> 8AM - 11AM</li>
                    <li><span>Alumerzo:</span> 11AM - 16PM</li>
                </ul>
            </div>
        </div>
    </div>
</section>

