
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/MasterPages/MasterExtranet.cshtml";
}

@section src{
    <link rel="stylesheet" href="~/Bootstrap/Extranet/booking/css/booking.css">
    <script src="~/Bootstrap/Extranet/booking/js/booking.js"></script>
}

<form method="post">
    <section class="content">
        <div class="container">
            <div class="row" id="bookingForm">
                <div class="grid_4">
                    <h2>Iniciar Sesión</h2>
                    <div class="tmInput">
                        Usuario
                        <input name="Usuario" type="text" required>
                    </div>
                    <div class="tmInput">
                        Contraseña
                        <input name="Contrasena" type="password" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 grid_10 pull-right">
                        <input type="submit" value="Ingresar" class="btn" />
                        </div>
                    </div>
            </div>
        </div>
    </section>
</form>

<script>
    $(function () {
        $('#bookingForm').bookingForm({
            ownerEmail: '#'
        });
    })
    $(function () {
        $('#bookingForm input, #bookingForm textarea').placeholder();
    });

</script>
