@model IEnumerable<_03_Dominio.entProducto>

@{
    ViewBag.Title = "Menu del día";
    Layout = "~/Views/MasterPages/MasterExtranet.cshtml";
}

<section class="content gallery pad1">
    <div class="container">
        <div class="row">
            <h2>Platos disponibles para hoy</h2>
            @{
                int espacio = 0;
                foreach (var item in Model)
                {
                    espacio++;
                    <div class="grid_4">
                        <div class="gall_block">
                            <div class="maxheight">
                                <a href="~/Bootstrap/Extranet/images/@item.ImgProducto" class="gall_item"><img src="~/Bootstrap/Extranet/images/@item.ImgProducto" alt=""></a>
                                <div class="gall_bot">
                                    <div class="text1">
                                        <strong class="color1">@item.NombreProducto</strong>
                                    </div>
                                    @item.DescripcionProducto
                                    <br />
                                    @item.SubTipoProducto.DescripcionSubTipo
                                    <br />
                                    @item.Stock porcion(es) disponible(s)
                                    <br />
                                    <a href="#" class="btn">agregar al pedido</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    if (espacio == 3)
                    {
                        <div class="clear sep__1"></div>
                        espacio = 0;
                    }
                }
            }
        </div>
    </div>
</section>

